// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Our colors
$myorange: rgb(250, 126, 10);
$mydark: rgb(83, 12, 12);

$restaurant: #7EB83D;
$watch: #023E8A;
$read: #337EFF;
$podcast: #A62AB7;
$health: #A52727;
$shop: #FFC107;
$trip: #008F81;
