<div class="container">
  <div class="scroll1">
    <h1>Looking for a <span style="color: #FA7E0A">doctor</span> ?</h1>
    <h1>Let's check if your friends have any <span style="color: #FA7E0A">recommendations</span> for you.</h1>
    <img src="../assets/images/loupe.png" alt="femme avec loupe">
      <div class="btn-grad">
        <%= link_to "Get started", communities_path %>
      </div>
  </div>
  <div class="scroll2">
    <h1 style="color: #FA7E0A">Step 1</h1>
    <p>Join or create a community with your friends!</p>
  </div>
  <div class="scroll2">
    <h1 style="color: #FA7E0A">Step 2</h1>
    <p>Share your recommendations with each other!</p>
  </div>
  <div class="scroll3">
    <h1 style="color: #FA7E0A">Step 3</h1>
    <p>Enjoy!</p>
  </div>
</div>
